/* Mobile-first approach */

* {
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  margin: 0;
}

.header {
  height: 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #332542;
  padding: 10px 0;
}

/* .headerTop {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
*/

.headerTop,
.headerBottom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.input,
.display,
.select {
  flex: 100%;
  padding: 0 10px;
  border: 2px solid #ccc;
  height: 1.4em;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  margin: 4px 10px;
  width: 100%;
}

.input {
  color: rgb(31, 16, 30);
}

.paragraph,
.select,
.option {
  color: #a3a3a3;
  text-align: center;
}

.paragraph:empty:before {
  content: attr(data-placeholder);
  color: #a3a3a3;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  /* Firefox */
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
}

.floatHomeButton {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 60px;
  right: 40px;
  background-color: #332542;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px rgb(173, 172, 172);
}

.my-float-home-button {
  margin-top: 10px;
}

.js-is-hidden {
  display: none;
}

#root {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.showContainer {
  display: flex;
  flex-direction: column;
}

.showContainer:hover {
  border-radius: 14px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 8px 8px 23px #9c9c9c, -8px -8px 23px #ffffff;
}

.showImageContainer {
  margin-top: 10px;
  border-radius: 0.7em;
  max-height: 330px;
}

.nameShowHover:hover {
  cursor: pointer;
  border-width: 4px;
}

.showImageContainer:hover {
  cursor: pointer;
  border: medium ridge rgb(252, 250, 253);
  border-width: 3px;
}

.extrasFlexContainer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 5px;
  border: thin solid #fff;
  color: #fff;
  border-radius: 0.5rem;
  width: 100%;
}

.flexboxItemsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: black;
  color: white;
  text-align: center;
  font-size: 10px;
  height: 40px;
  flex: 1 1 auto;
  max-width: 100%;
}

.flexboxItemsContainer + .flexboxItemsContainer {
  border-left: solid 1px white;
}

.episodeContainer,
.showContainer {
  background-color: #e4e6eb;
  margin: 20px;
  padding: 20px;
  border-radius: 0.2rem;
  width: 90%;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
}

.episodeContainer:hover {
  background-color: #f1f1f1;
  border: medium double rgb(107, 25, 102);
}

.nameContainer {
  border: medium ridge rgb(107, 25, 102);
  border-radius: 0.4rem;
  width: 100%;
  height: 60px;
  font-weight: bold;
  display: grid;
  justify-content: center;
  align-items: center;
  color: rgb(107, 25, 102);
  padding: 3px;
  text-align: center;
}

.episodeImageContainer {
  width: 100%;
  margin-top: 20px;
  border-radius: 0.7em;
}

.textContainer {
  color: rgb(53, 9, 50);
  text-align: center;
  padding-top: 10px;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

footer {
  background-color: #332542;
  color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
footer a:visited {
  color: grey;
}

/* mouse over link */
footer a:hover {
  color: hotpink;
}

/* selected link */
footer a:active {
  color: blue;
}

@media screen and (min-width: 375px) {
  .floatHomeButton {
    right: 50px;
  }
}

@media screen and (min-width: 400px) {
  /* phones */
  #root {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 350px;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .floatHomeButton {
    width: 55px;
    height: 55px;
    bottom: 55px;
    right: 30px;
  }

  .my-float-home-button {
    margin-top: 12px;
  }
}

@media screen and (min-width: 500px) {
  /* larger phones */
  #root {
    grid-template-columns: 400px;
  }
  .floatHomeButton {
    width: 60px;
    height: 60px;
    bottom: 60px;
    right: 40px;
  }

  .my-float-home-button {
    margin-top: 14px;
  }
}

@media screen and (min-width: 600px) {
  .flexboxItemsContainer {
    width: calc(50vw - 4em);
  }
  .flexboxItemsContainer {
    font-size: 12px;
  }
}

@media screen and (min-width: 700px) {
  /* tablets */
  #root {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 900px) {
  /* desktops */
  .header {
    display: flex;
    flex-wrap: nowrap;
    height: 80px;
  }
}

@media screen and (min-width: 960px) {
  .flexboxItemsContainer {
    width: calc(25vw - 4em);
  }
  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    margin-right: auto;
  }
}

@media screen and (min-width: 1000px) {
  /* large screens */
  #root {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1500px) {
  /* extra large screens */
  #root {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
